/*!
 * Start Bootstrap - Shop Homepage (https://startbootstrap.com/templates/shop-homepage)
 * Copyright 2013-2020 Start Bootstrap
 * Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-shop-homepage/blob/master/LICENSE)
 */
body {
  padding-top: 56px;
}

.modal {
  overflow-y:auto;
}
